


.scroll{
width: 500px;
letter-spacing: 2px;
    padding: 20px 180px;
  position: relative;
background: #eee;
  height: 210px;
  margin: 50px auto;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.scroll li{
	width: 500px;
  position: relative;
  height: 100px;
  z-index: 2;
  overflow: auto;


  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
